include partials/listing/listingCard.pug
include partials/main/head.pug
+Head('css/listing.css')
body
	#root
		include partials/main/header.pug
		main
			.container
				+ListingCard('image', 'Name', 'Address', 'Rating')
		include partials/main/footer.pug
	include partials/main/foot.pug