
@import '../../base/_mixins'
@import '../../base/_variables'

footer
	width 100%
	color #999
	margin-top 50px
.footerInner
	border-top solid 1px #ddd
	padding 10px 0
	font-size 1.1rem
	text-transform uppercase
	p
		display flex
		align-items center
		justify-content space-between